<h3>Good news, <%= @stakeholder.name %></h3>
<p>
  On <%= @new_hire.start_date %>, <strong><%= @new_hire.name %></strong> will be joining our team!<br />
</p>
<p>
  <%= @stakeholder.template %>
</p>
<p>
  <%= @new_hire.user_info %>
</p>
<p>Thanks for helping <strong><%= @new_hire.name %></strong> get ready for their first day!</p>
