<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h5>Please do not leave blank:</h5>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="input-field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="input-field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, class: "datepicker"%>
  </div>


  
  <div class="actions valaign center">
                             
                                <input type="submit" value="Save" class="btn btn-success btn-lg" >
                                <%= link_to 'Cancel', users_path, class: "btn btn-primary btn-lg" %>
                              
                              </div>
<% end %>
