<!-- Admin Tools -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <% if params[:category] %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_eadmin_task_path(:category => params[:category], :user_id => params[:id]), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% else %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_eadmin_task_path(:category => "Paperwork", :user_id => params[:id]), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% end %>
  <!-- <a href="add.html" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Add Task">
    <i class="large material-icons">add</i>
  </a> -->
  <!-- <ul>
    <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Manage Users"><i class="material-icons">perm_identity</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Edit Template"><i class="material-icons">recent_actors</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Manage Account Settings"><i class="material-icons">settings</i></a></li>
  </ul> -->
</div>
<!-- End admin tools -->



<!-- Wrapper for sidebar and layout -->

<div class="row">
  <!-- Sidebar -->
  <div class="col s12 m4 l3">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title"><%= @user.name %></span>
        <p>Here you can see, add, and delete tasks for <%= @user.name %>. Make their first days with your company unforgettable!</p>
      </div>
    </div>


    <div class="collection">
      <%= link_to @paperwork_link.html_safe, params.merge(:category => "Paperwork"), class: "collection-item"%>
      <%= link_to @eat_link.html_safe, params.merge(:category => "Equipment & Tools"), class: "collection-item"%>
      <%= link_to @mtc_link.html_safe, params.merge(:category => "Meet the Company"), class: "collection-item"%>
      <%= link_to @getgoing_link.html_safe, params.merge(:category => "Get Going"), class: "collection-item"%>
    </div>

  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="col s12 m7 l8">
    <div class="row top">
      <% if params[:category] %>
        <h4 style="display: inline"><%=params[:category]%> Tasks</h4>
      <% else %>
        <h4 style="display: inline">Paperwork Tasks</h4>
      <% end %>

      <% if params[:category] %>
        <%= link_to '<i class="material-icons left">add</i>Add a new task</a>'.html_safe, new_eadmin_task_path(:category => params[:category]), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right"  %>
      <% else %>
        <%= link_to '<i class="material-icons left">add</i>Add a new task</a>'.html_safe, new_eadmin_task_path(:category => "Paperwork"), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right" %>
      <% end %>
    </div>


    <% if @eadmin_tasks.empty? %>
    <div class="row centered">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <span class="white-text">
            <i class="em em-sweat_smile"></i> Looks like <%= @user.name %> doesn't have any tasks here! You can add one by clicking the big green button!
          </span>
        </div>
      </div>
    </div>
    <% end %>



    <% unless @eadmin_tasks.where(:when_due => "Before").empty? %>
      <h5>Before they start...</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.when_due == "Before" && eadmin_task.completed? == false %>
        <!-- Card -->
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if admin_task.document_file_name %>
              <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- <% if params[:category] %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => params[:category]), class: "blue-text" %>
            <% else %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => "Paperwork"), class: "blue-text" %>
            <% end %> -->
            <%= link_to 'delete', eadmin_task, method: :delete, class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= eadmin_task.due_date %> <%= eadmin_task.due_date == 1 ? "day" : "days" %> <%= eadmin_task.when_due.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>



    <% unless @eadmin_tasks.where(:when_due => "After").empty? %>
      <h5>After they start...</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.when_due == "After" && eadmin_task.completed? == false %>
        <!-- Card -->
        <div class="card hoverable grey lighten-2">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal grey lighten-2">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if admin_task.document_file_name %>
              <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- <% if params[:category] %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => params[:category]), class: "blue-text" %>
            <% else %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => "Paperwork"), class: "blue-text" %>
            <% end %> -->
            <%= link_to 'delete', eadmin_task, method: :delete, class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
              <span class="right"><%= eadmin_task.due_date %> <%= eadmin_task.due_date == 1 ? "day" : "days" %> <%= eadmin_task.when_due.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>




    <% unless @eadmin_tasks.where(:completed => true).empty? %>
      <h5>Recently Completed</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.completed? %>
        <!-- Card -->
        <div class="card hoverable #b2dfdb teal lighten-4">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal #b2dfdb teal lighten-4">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if admin_task.document_file_name %>
              <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- <% if params[:category] %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => params[:category]), class: "blue-text" %>
            <% else %>
            <%= link_to 'edit', edit_eadmin_task_path(eadmin_task,:user_id => params[:id],:category => "Paperwork"), class: "blue-text" %>
            <% end %> -->
            <%= link_to 'delete', eadmin_task, method: :delete, class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= eadmin_task.due_date %> <%= eadmin_task.due_date == 1 ? "day" : "days" %> <%= eadmin_task.when_due.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>

  </div>
  <!-- End content -->
</div>
