


<div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
              <div class="card-content">
                    <p>Name:   <%= @user.name %></p>
                </div>
                
                <div class="card-content">
                    <p> Email:   <%= @user.email %></p>
                </div>
                 <div class="card-content">
                    <p> Start Date:    <%= @user.start_date %></p>  
                </div>

                   

                <div class="card-action">
                    <%= link_to 'Edit', edit_user_path(@user) %>
                    <%= link_to 'Back', users_path%>
                    
                </div>
            </div>
        </div>
    </div>
</div>
