<% if current_user.nil? %>
    
    <% if request.subdomain.blank? || request.subdomain == "app" %>
        <%= link_to('Sign up', new_user_registration_path) %>    
        <br>
    <% else %>
        <%= link_to('Login', new_user_session_path) %>
        <br>
    <% end %>


    
<% else %>
    Welcome <%= current_user.email %>

    <br>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    
   
        <%= link_to('Manage Subscriptions', subscriptions_path) %>
        <%= link_to('Invite Employee', new_user_invitation_path) %>
   
<% end %>
<br>




<h1>HI</h1>


