<!-- Header -->
<div class="row">
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
  <!-- form -->
  <div class="col s12 m12 l8">
    <div class="row top">
      <h4 class="center-align">Attendees for <%= @current_event.name %></h4>
    </div>
  </div>
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
</div>

<div class="row">
    <div class="col s12 m4 l4">
      <h5 class="center-align">Attending</h5>
      <% if @users.includes(:attendances).where(attendances: {rsvp: "Going"}).references(:attendances).empty? %>
        <p>Nobody is attending... (yet!)</p>
      <% elsif %>
        <% @users.includes(:attendances).where(attendances: {rsvp: "Going"}).references(:attendances).each do |u| %>
        <div class="chip">
          <%= u.name %> (<%= u.email %>)
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="col s12 m4 l4">
      <h5 class="center-align">Not Attending</h5>
      <% if @users.includes(:attendances).where(attendances: {rsvp: "Not Going"}).references(:attendances).empty? %>
        <p>So far so good! Nobody is saying no!</p>
      <% elsif %>
        <% @users.includes(:attendances).where(attendances: {rsvp: "Not Going"}).references(:attendances).each do |u| %>
        <div class="chip">
          <%= u.name %> (<%= u.email %>)
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="col s12 m4 l4">
      <h5 class="center-align">Invited</h5>
      <% if @users.includes(:attendances).where(attendances: {rsvp: "Invited"}).references(:attendances).empty? %>
        <p>Either everybody has RSVP'd, or you have some inviting to do!</p>
      <% elsif %>
        <% @users.includes(:attendances).where(attendances: {rsvp: "Invited"}).references(:attendances).each do |u| %>
        <div class="chip">
          <%= u.name %> (<%= u.email %>)
        </div>
        <% end %>
      <% end %>
    </div>
</div>

<%# This is the glory section. Making this work separates boys from men. %>
<div class="row">
  <div class="col s12 m12 l2">&nbsp;</div>
  <div class="col s12 m12 l8">
    <h5 class="top centered">Invite people to <%= @current_event.name %></h5>
    <%= form_for @attendance, :url => create_attendance_path do |f| %>
      <%= f.select :user_id, User.all.order(:name).collect { |u| [ u.name, u.id ] }, :multiple => true, include_blank: true %>
      <%= f.hidden_field(:event_id, :value => @current_event.id)%>
      <%= f.hidden_field(:rsvp, :value => "Invited")%>
      <div class="actions centered">
        <%= f.submit 'Invite!' %>
      </div>
    <% end %>
  </div>
  <div class="col s12 m12 l2">&nbsp;</div>
</div>
