<!-- Header -->
<div class="row">
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
  <!-- form -->
  <div class="col s12 m12 l8">
    <div class="row top">
      <h3 style="display: inline">Manage Events</h3>
      <%= link_to 'Add an Event', new_event_path, class: "btn btn-large", style: "float: right" %>
    </div>
  </div>
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
</div>

<!-- Within the week -->
<% unless @events.within_week.empty? %>
<div class="row">
  <h5>Events within a week...</h5>
  <% @events.within_week.each do |event| %>
  <div class="col s12 m6 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= event.name %></span>
        <p>
          <a href="mailto:<%= event.organizer_email %>" class="white-text" style="text-decoration: underline"><%= event.organizer %></a> will be running this event on <%= event.event_date.to_formatted_s(:rfc822) %>.
          It will be held at <%= event.location %>.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Manage Invites', manage_event_attendance_path(:id => event), style: 'float:right' %>
        <!-- <a href="#" style="float:right">Invite employees</a> -->
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<!-- Within the month -->
<% unless @events.within_month.empty? %>
<div class="row">
  <h5>Later within a month...</h5>
  <% @events.within_month.each do |event| %>
  <div class="col s12 m6 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= event.name %></span>
        <p>
          <a href="mailto:<%= event.organizer_email %>" class="white-text" style="text-decoration: underline"><%= event.organizer %></a> will be running this event on <%= event.event_date.to_formatted_s(:rfc822) %>.
          It will be held at <%= event.location %>.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Manage Invites', manage_event_attendance_path(:id => event), style: 'float:right' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<!-- Next month -->
<% unless @events.next_month.empty? %>
<div class="row">
  <h5>Events next month...</h5>
  <% @events.next_month.each do |event| %>
  <div class="col s12 m6 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= event.name %></span>
        <p>
          <a href="mailto:<%= event.organizer_email %>" class="white-text" style="text-decoration: underline"><%= event.organizer %></a> will be running this event on <%= event.event_date.to_formatted_s(:rfc822) %>.
          It will be held at <%= event.location %>.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Manage Invites', manage_event_attendance_path(:id => event), style: 'float:right' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<!-- Within the month -->
<% unless @events.after_2_months.empty? %>
<div class="row">
  <h5>Later in the future...</h5>
  <% @events.after_2_months.each do |event| %>
  <div class="col s12 m6 l6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= event.name %></span>
        <p>
          <a href="mailto:<%= event.organizer_email %>" class="white-text" style="text-decoration: underline"><%= event.organizer %></a> will be running this event on <%= event.event_date.to_formatted_s(:rfc822) %>.
          It will be held at <%= event.location %>.
        </p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Manage Invites', manage_event_attendance_path(:id => event), style: 'float:right' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
