<!-- Team  Tools -->




<!-- Team Navbar end -->
<!-- Admin Tools -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">

    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_document_path(:category => 1), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>

  <!-- <a href="add.html" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Add Task">
    <i class="large material-icons">add</i>
  </a> -->
  <!-- <ul>
    <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Manage Users"><i class="material-icons">perm_identity</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Edit Template"><i class="material-icons">recent_actors</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Manage Account Settings"><i class="material-icons">settings</i></a></li>
  </ul> -->
</div>
<!-- End admin tools -->
<ul class="pagination">
  <% if can? :delete , @post%>
    <% team = @teams.find_by_name(params[:team]) %>
    <li class="waves-effect"><%= link_to 'Tasks', admin_tasks_path(:category => params[:category],:team => params[:team]) %>
    </li>
    <% else %>
    <li class="waves-effect"><%= link_to 'Tasks', eadmin_tasks_path(:category => params[:category],:team => params[:team]) %>
    </li>
   <% end %>

    <li class="waves-effect active"><a>Document</a></li>


</ul>


<!-- Wrapper for sidebar and layout -->

<div class="row">

  <!-- Content -->
  <div class="col s12 m8 l7 offset-l1">
    <div class="row top">
      <h4 style="display: inline"><%= params[:team]%>'s Documents</h4>
      <% if can? :delete , @post%>
        <%= link_to '<i class="material-icons left">add</i>Add a document</a>'.html_safe, new_document_path( :team_id => params[:team_id]), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right"  %>
      <% end %>
    </div>



    <% if @documents.empty? %>
    <div class="row centered">
      <div class="col s12 m8">
        <div class="card-panel teal">
          <span class="white-text">
            <i class="em em-sweat_smile"></i>  Add a document for your new employees.
          </span>
        </div>
      </div>
    </div>
    <% end %>
    <!-- Start of collection for displaying documents for ADMINS -->

      <!--ADMIN VIEW  -->
      <% if can? :delete, @post %>
      <ul class="collection">
       <% @documents.where(:team_id => params[:team_id]).each do |document| %>
          <li class="collection-item avatar">
            <%= image_tag Document::FileIcon[document.file(:thumb).match(/\.(\w+)\?\d*$/)[1].try(:to_sym)], :width => "50", :class => "circle" if document.file %>
            <span class="title"><%= link_to document.title, document.file.url(:original, false), :target => "_blank" %></span>
            <p><%= document.updated_at.strftime("%e, %B, %Y %l:%M %P") %><br></p>
            <%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_document_path(document, :team_id => params[:team_id]),  class: "secondary-content blue-text", style: "margin-right:50px" %>
            <%= link_to '<i class="material-icons">delete</i>'.html_safe, document_path(document),method: :delete,  class: "secondary-content blue-text", data: { confirm: 'Are you sure you want to delete this document?' } %>
          </li>
        <% end %>
      </ul>
      <% else %>
      <!--EMPLOYEE VIEW  -->
        <% team_name = current_user.user_info %>
        <% team = @teams.find_by_name(team_name) %>
        <!-- Pulls the TEAM documents -->
        <h5>Documents for <%= team_name %> Team</h5>
        <ul class="collection">
        <% @documents.where(:team_id => team.id).each do |document| %>
           <li class="collection-item avatar">
             <%= image_tag Document::FileIcon[document.file(:thumb).match(/\.(\w+)\?\d*$/)[1].try(:to_sym)], :width => "50", :class => "circle" if document.file %>
             <span class="title"><%= link_to document.title, document.file.url(:original, false), :target => "_blank" %></span>
             <p><%= document.updated_at.strftime("%e, %B, %Y %l:%M %P") %><br></p>
           </li>
         <% end %>
       </ul>
       <!-- Pulls the EVERYONE documents -->
       <h5>Documents for Everyone</h5>
       <ul class="collection">
         <% @documents.where(:team_id => 1).each do |document| %>
            <li class="collection-item avatar">
              <%= image_tag Document::FileIcon[document.file(:thumb).match(/\.(\w+)\?\d*$/)[1].try(:to_sym)], :width => "50", :class => "circle" if document.file %>
              <span class="title"><%= link_to document.title, document.file.url(:original, false), :target => "_blank" %></span>
              <p><%= document.updated_at.strftime("%e, %B, %Y %l:%M %P") %><br></p>
            </li>
          <% end %>
        </ul>
      <%end%>

      <!-- END of collection for displaying documents -->
  </div>
  <!-- End content -->

  <!-- Sidebar -->
  <div class="col s12 m4 l3 offset-l1">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title"> Information Centre</span>
        <p>Any documents you add here will be copied to each new hire you onboard.</p>
      </div>
    </div>


  </div>
  <!-- End Sidebar -->

</div>
