<!-- Team  Tools -->




<!-- Team Navbar end -->
<!-- Admin Tools -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">

    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_document_path(:category => 1), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>

  <!-- <a href="add.html" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Add Task">
    <i class="large material-icons">add</i>
  </a> -->
  <!-- <ul>
    <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Manage Users"><i class="material-icons">perm_identity</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Edit Template"><i class="material-icons">recent_actors</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Manage Account Settings"><i class="material-icons">settings</i></a></li>
  </ul> -->
</div>
<!-- End admin tools -->

<!-- Wrapper for sidebar and layout -->

<div class="row">
  <!-- Sidebar -->
  <div class="col s12 m4 l3">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title"> Information Centre</span>
        <p>Any documents you add here will be copied to each new hire you onboard.</p>
      </div>
    </div>


  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="col s12 m8 l6">
    <div class="row top">



        <%= link_to '<i class="material-icons left">add</i>Add a new document</a>'.html_safe, new_document_path( :team => 1), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right"  %>

    </div>

    <% if @documents.empty? %>
    <div class="row centered">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <span class="white-text">
            <i class="em em-sweat_smile"></i>  Add a new document for your new employees.
          </span>
        </div>
      </div>
    </div>
    <% end %>
    <ul class="collection">
      <% @documents.each do |document| %>
        <li class="collection-item avatar">

          <%= image_tag Document::FileIcon[document.file(:thumb).match(/\.(\w+)\?\d*$/)[1].try(:to_sym)], :width => "50", :class => "circle" if document.file %>
            <!-- <img src="images/yuna.jpg" alt="" class="square"> -->
          <span class="title"><%= document.title %></span>
          <p><%= link_to "Open document", document.file.url(:original, false), :target => "_blank" %><br>

          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
        </li>
      <%end%>
    </ul>
  </div>
  <!-- End content -->
</div>
