<!--  FORM ELELEMNTS for Creating New Tasks and Updating Existing Tasks -->
<div class="row">
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
  <!-- form -->
  <div class="col s12 m12 l8">

    <%= form_for @admin_task,  html: { multipart: true } do |f| %>
    <% if @admin_task.errors.any? %>
    <div id="error_explanation">
      <h4>Please fill out the following feilds:</h4>
      <ul>
        <% @admin_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-panel">
      <div class="field">
        <%= f.hidden_field :category, value: params[:category]%>
      </div>

      <!-- name -->
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :title, required: true %>
          <%= f.label :title, "What needs to be done?" %>
        </div>
      </div>


      <!-- things to help with task -->
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea" %>
          <%= f.label :description, "What other information can help them accomplish this task?" %>
        </div>
      </div>


      <div class="input-field">

          <label for="admin_task_document">Document</label>

      <br><br>

          <input class="file-path " type="file" name="admin_task[document]" id="admin_task_document" />
     </div><br><br>


     <div class="field">
       <%= f.label :team, "For which team?"%>
       <%= f.collection_select :team, Team.order(:name),:name,:name, { include_blank: "Select a Team", disabled: 'false'}, { required: true}%>
       <p style="font-size: 0.8rem;"> <%= link_to 'OR create a new team', new_team_path %></p> <br>
     </div>


      <!-- when -->
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <select name="admin_task[due_date]" id="admin_task_due_date" >
            <option value="" disabled selected>Choose amount of time</option>
            <optgroup label="Days">
              <option value="1">1 day</option>
              <option value="2">2 days</option>
              <option value="3">3 days</option>
              <option value="4">4 days</option>
              <option value="5">5 days</option>
              <option value="6">6 days</option>
            </optgroup>
            <optgroup label="Weeks">
              <option value="7">1 week</option>
              <option value="14">2 weeks</option>
              <option value="21">3 weeks</option>
            </optgroup>
            <optgroup label="Months">
              <option value="30">1 month</option>
              <option value="60">2 months</option>
              <option value="90">3 months</option>
              <option value="120">4 months</option>
              <option value="150">5 months</option>
              <option value="180">6 months</option>
              <option value="270">9 months</option>
              <option value="360">12 months</option>
            </optgroup>
          </select>
          <label>How long from the start date?</label>
        </div>
        <div class="input-field col s12 m6">
          <select name="admin_task[when]" id="admin_task_when">
            <option value="" disabled selected>Choose before or after</option>
            <option value="Before">Before the start date</option>
            <option value="After">After the start date</option>
          </select>
          <label>Before or After?</label>
        </div>
      </div>

      <!-- buttons to save -->
      <div class="row">
        <div class="actions col s12 centered">
          <%= link_to 'Cancel', admin_tasks_path, class: "btn btn-large" %>
          <input type="submit" value="Submit!" class="btn btn-large" >
        </div>
      </div>


    </div>
    <% end %>
  </div>
  <!-- spaceholder -->
  <div class="col s12 m12 l2">&nbsp;</div>
</div>
