

 <div class="row">
      
      <div class="col s6" style="float: left;"> <h5> Your Onboarding Process</h5>
           
      </div>

      <div class="col s6">

      <div style="float: right; margin-top:10px;"> <%= link_to 'Create a New Task', new_admin_task_path, class: "btn btn-success btn-lg" %> 
      </div>

    
    </div>
  </div>


  
 
      <ul class="tabs" id="tabs">
        <li class="tab col s3"><a href="#tabs-1">Learning</a></li>
        <li class="tab col s3"><a href="#tabs-2">Setting Up</a></li>
        <li class="tab col s3"><a href="#tabs-3">Milestones</a></li>
        <li class="tab col s3"><a href="#tabs-4">Personal Survey</a></li>
      </ul>



    
<div class="items">
    <div id="tabs-1" class="col s6 ">
      <h5>Before Start Date</h5>
      <!-- First one Ruby Code-->
      <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>

            <% if admin_task.category == "Learning" && admin_task.when == "Before" %>


                   
                      <li>
                        <div class="collapsible-header ">
                        
                           <p>
                           
                             
                           <strong><%= admin_task.title %>  </strong>

                          

                        
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>

                                 </p>
                                                      


                        </div>

                        <div class="collapsible-body">

                          <p>
                            <strong>Description:</strong><%= admin_task.description %><br><br>
                           <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>






                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>
           <h5>After Start Date</h5>


            <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date ASC' ).each do |admin_task| %>

            <% if admin_task.category == "Learning" && admin_task.when == "After" %>


                   
                      <li>
                        <div class="collapsible-header">
                          <p>
                              <strong><%= admin_task.title %>  </strong>

                         
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>
                                                      

                               </p>
                        </div>

                        <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>





    </div><!-- END -->




    <div id="tabs-2" class="col s12">
          <h5>Before Start Date</h5>
      <!-- First one Ruby Code-->
      <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>

            <% if admin_task.category == "Setting Up" && admin_task.when == "Before" %>


                   
                      <li>
                        <div class="collapsible-header ">
                             <p>
                     
                              <strong><%= admin_task.title %>  </strong>

                          
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>
                                  </p>
                                                      

                        </div>

                        <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>
           <h5>After Start Date</h5>


            <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date ASC' ).each do |admin_task| %>

            <% if admin_task.category == "Setting Up" && admin_task.when == "After" %>


                   
                      <li>
                        <div class="collapsible-header">
                             <p>
                     
                              <strong><%= admin_task.title %>  </strong>

                          
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>

                                  </p>
                                                      


                        </div>

                        <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>





    </div>
      <div id="tabs-3" class="col s12">

             <h5>Before Start Date</h5>
      <!-- First one Ruby Code-->
      <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>

            <% if admin_task.category == "Milestones" && admin_task.when == "Before" %>


                   
                      <li>
                        <div class="collapsible-header ">
                             <p>
               
                              <strong><%= admin_task.title %>  </strong>
 
                       
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>
                                                      
                                                         </p>


                        
                        </div>

                       <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>
           <h5>After Start Date</h5>


            <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date ASC' ).each do |admin_task| %>

            <% if admin_task.category == "Milestones" && admin_task.when == "After" %>


                   
                      <li>
                        <div class="collapsible-header">
                             <p>
                         
                              <strong><%= admin_task.title %>  </strong>

                     
                          

                       
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>

                                  </p>
                                                      


                         
                        </div>

                       <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>





    </div>


    <div id="tabs-4" class="col s12">

             <h5>Before Start Date</h5>
      <!-- First one Ruby Code-->
      <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>

            <% if admin_task.category == "Personal Survey" && admin_task.when == "Before" %>


                   
                      <li>
                        <div class="collapsible-header ">
                             <p>
                        
                              <strong><%= admin_task.title %>  </strong>

                          
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>

                                  </p>
                                                      


                        
                        </div>

                        <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>
           <h5>After Start Date</h5>


            <ul class="collapsible" data-collapsible="accordion">

         <% @admin_tasks.order( 'admin_tasks.due_date ASC' ).each do |admin_task| %>

            <% if admin_task.category == "Personal Survey" && admin_task.when == "After" %>


                   
                      <li>
                        <div class="collapsible-header">
                             <p>
                       
                              <strong><%= admin_task.title %>  </strong>

                         
                          

                       
                            
                             <%= link_to '<i class="material-icons right" >delete</i>'.html_safe, admin_task, method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                            
                               <%= link_to ' <i class="material-icons right">mode_edit</i>'.html_safe, edit_admin_task_path(admin_task) %>

                                  </p>
                                                      


                      
                        </div>

                       <div class="collapsible-body"><p><strong>Description:</strong><%= admin_task.description %><br><br>
                          <strong>Media: </strong><a href="http://<%= admin_task.media %> "><%= admin_task.media %> </a><br><br>
                          <strong>When: </strong><%= admin_task.due_date %> Day <%= admin_task.when %> Start.</p>
                        </div>
                      </li>
                      
                    
              <%end%>





          <%end%>
           </ul>





    </div>
  </div>
  







 









