<!-- Team Navbar end -->
<!-- Admin Tools -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <% if params[:category] %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_admin_task_path(:category => params[:category]), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% else %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_admin_task_path(:category => "Paperwork"), id: "addSmallButton", class: "btn-floating btn-large teal tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% end %>
  <!-- <a href="add.html" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Add Task">
    <i class="large material-icons">add</i>
  </a> -->
  <!-- <ul>
    <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Manage Users"><i class="material-icons">perm_identity</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Edit Template"><i class="material-icons">recent_actors</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Manage Account Settings"><i class="material-icons">settings</i></a></li>
  </ul> -->
</div>
<!-- End admin tools -->
<ul class="pagination">
  <% team = @teams.find_by_name(params[:team]) %>
  <li class="waves-effect active"><a href="#!">Tasks</a></li>
  <li class="waves-effect"><%= link_to 'Documents', documents_path(:category => params[:category],:team => params[:team], :team_id => team.id) %>
  </li>


</ul>


<!-- Wrapper for sidebar and layout -->

<div class="row">


  <!-- Content -->
  <div class="col s12 m8 l7 offset-l1">
    <div class="row top">
      <% if params[:team] %>
        <h4 style="display: inline"><%=params[:team]%>'s Tasks</h4>
      <% else %>
        <h4 style="display: inline">Paperwork Tasks</h4>
      <% end %>

      <% if params[:category] %>
        <%= link_to '<i class="material-icons left">add</i>Add a task</a>'.html_safe, new_admin_task_path(:category => params[:category], :team => params[:team]), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right"  %>
      <% else %>
        <%= link_to '<i class="material-icons left">add</i>Add a task</a>'.html_safe, new_admin_task_path(:category => "Paperwork"), id: "addBigButton", class: "waves-effect waves-light btn show-on-large", style: "float: right" %>
      <% end %>
    </div>
    <% if @admin_tasks.empty? %>
    <div class="row centered">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <span class="white-text">
            <i class="em em-sweat_smile"></i>  Create a task for your new employees.
          </span>
        </div>
      </div>
    </div>
    <% end %>

    <% unless @admin_tasks.where(:when => "Before").empty? %>
      <h5>Before they start...</h5>
    <% end %>

    <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>
      <% if admin_task.when == "Before" %>
        <!-- Card -->
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(admin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">close</i></span>
            <p><%= admin_task.description %></p>
            <% if admin_task.document_file_name %>
              <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <% if params[:category] %>
              <%= link_to 'edit', edit_admin_task_path(admin_task, :category => params[:category], :team => params[:team]), class: "blue-text" %>
            <% else %>
              <%= link_to 'edit', edit_admin_task_path(admin_task, :category => "Paperwork"), class: "blue-text" %>
            <% end %>
            <%= link_to 'delete', admin_task_path(admin_task, :category => params[:category]),method: :delete,  class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= admin_task.due_date %> <%= admin_task.due_date == 1 ? "day" : "days" %> <%= admin_task.when.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>

    <% unless @admin_tasks.where(:when => "After").empty? %>
      <h5>After they start...</h5>
    <% end %>

    <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>
      <% if admin_task.when == "After" %>
        <!-- Card -->
        <div class="card hoverable grey lighten-2">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(admin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal grey lighten-2">
            <span class="card-title grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">close</i></span>
            <p><%= admin_task.description %></p>
            <% if admin_task.document_file_name %>
              <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <% if params[:category] %>
              <%= link_to 'edit', edit_admin_task_path(admin_task, :category => params[:category], :team => params[:team]), class: "blue-text" %>
            <% else %>
              <%= link_to 'edit', edit_admin_task_path(admin_task, :category => "Paperwork"), class: "blue-text" %>
            <% end %>
            <%= link_to 'delete', admin_task_path(admin_task, :category => params[:category], :team => params[:team]),method: :delete,  class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= admin_task.due_date %> <%= admin_task.due_date == 1 ? "day" : "days" %> <%= admin_task.when.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>
  </div>
  <!-- End content -->
  <!-- Sidebar -->

  <div class="col s12 m3 offset-l1">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title">Template</span>
        <p>Any task you add here will be copied to each new hire you onboard.</p>
      </div>
    </div>

    <div class="collection">
      <% @categories.each do |category| %>
        <%= link_to category.name , params.merge(:category => category.name), :class => active_class_col(params[:category],category.name ) %>
      <% end %>
      <%= link_to '+ <strong>Add Category</strong>'.html_safe, new_category_path(:team => params[:team]), class: "collection-item "%>

    </div>
  </div>
  <!-- End Sidebar -->
</div>
