<!-- Admin Tools -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <% if params[:category] %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_admin_task_path(:category => params[:category]), class: "btn-floating btn-large red tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% else %>
    <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_admin_task_path(:category => "Paperwork"), class: "btn-floating btn-large red tooltipped", 'data-tooltip': "Add Task", 'data-position': "left" %>
  <% end %>
  <!-- <a href="add.html" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Add Task">
    <i class="large material-icons">add</i>
  </a> -->
  <ul>
    <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Manage Users"><i class="material-icons">perm_identity</i></a></li>
    <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Edit Template"><i class="material-icons">recent_actors</i></a></li>
    <li><a class="btn-floating blue tooltipped" data-position="left" data-tooltip="Manage Account Settings"><i class="material-icons">settings</i></a></li>
  </ul>
</div>
<!-- End admin tools -->

<!-- Wrapper for sidebar and layout -->

<div class="row">
  <!-- Sidebar -->
  <div class="col s12 m4 l3">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title">Template</span>
        <p>Any task you add here will be copied to each new hire you onboard.</p>
      </div>
    </div>

    <div class="collection">
      <%= link_to 'Paperwork<span class="badge">1</span>'.html_safe, params.merge(:category => "Paperwork"), class: "collection-item"%>
      <%= link_to 'Equipment &amp; Tools<span class="badge">1</span>'.html_safe, params.merge(:category => "Equipment & Tools"), class: "collection-item"%>
      <%= link_to 'Meet the Company<span class="badge">1</span>'.html_safe, params.merge(:category => "Meet the Company"), class: "collection-item"%>
      <%= link_to 'Get Going<span class="badge">1</span>'.html_safe, params.merge(:category => "Get Going"), class: "collection-item"%>
    </div>

  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="col s12 m7 l8">

    <h5>Before they start...</h5>
    <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>
      <% if admin_task.when == "Before" %>
        <!-- Card -->
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(admin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">close</i></span>
            <p><%= admin_task.description %></p>
            <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false) %></p>
          </div>
          <div class="card-action">
            <%= link_to 'edit', edit_admin_task_path(admin_task), class: "blue-text" %>
            <%= link_to 'delete', admin_task, method: :delete, class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= admin_task.due_date %> <%= admin_task.due_date == 1 ? "day" : "days" %> <%= admin_task.when.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>

    <h5>After they start...</h5>
    <% @admin_tasks.order( 'admin_tasks.due_date DESC' ).each do |admin_task| %>
      <% if admin_task.when == "After" %>
        <!-- Card -->
        <div class="card hoverable grey lighten-2">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(admin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal grey lighten-2">
            <span class="card-title grey-text text-darken-4"><%= admin_task.title %><i class="material-icons right">close</i></span>
            <p><%= admin_task.description %></p>
            <p><%= link_to admin_task.document_file_name, admin_task.document.url(:original, false) %></p>
          </div>
          <div class="card-action">
            <%= link_to 'edit', edit_admin_task_path(admin_task), class: "blue-text" %>
            <%= link_to 'delete', admin_task, method: :delete, class: "blue-text", data: { confirm: 'Are you sure you want to delete this task?' } %>
            <span class="right"><%= admin_task.due_date %> <%= admin_task.due_date == 1 ? "day" : "days" %> <%= admin_task.when.downcase %> they start</span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>

  </div>
  <!-- End content -->
</div>
