<% if !@account.stripe_plan_id.blank? %>
    <% if @account.active_until > Time.now %>
        Your subscription is active until <%= @account.active_until %>
    <% else %>
        Your subscription expired on <%= @account.active_until %>
    <% end %>

<% else %>
    You do not have a subscription plan.
<% end %>

<br>

<%= link_to 'Change Subscription', edit_subscription_path(@account.id), {class: "btn btn-primary"} %>

<br>
<br>
<%= link_to 'Cancel Subscription', subscriptions_cancel_subscription_path, {class: "btn btn-primary"} %>

<br>
<br>
<%= link_to 'Update card', subscriptions_update_card_path, {class: "btn btn-primary"} %>

<br>
<br>
<%= link_to 'New Subscription', new_subscription_path, {class: "btn btn-primary"} %>


<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_vDSiuOkeTaV8mLnuOgqAQyWd"
    data-amount="999"
    data-name="Genie"
    data-description="Widget"
    data-image="https://s3.amazonaws.com/stripe-uploads/acct_16CXGYJdwoeabeLUmerchant-icon-1447944879536-genie.png"
    data-locale="auto"
    data-currency="eur">
  </script>
</form>
