

 <div class="row">
    <div class=" col s6 offset-s3">
      <h3 class"center">Invite New Employees</h3>


      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>

      <% resource.class.invite_key_fields.each do |field| -%>
        <p><%= f.label field %><br />
        <%= f.text_field field %></p>
      <% end -%>

       <div class="input-field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
       <div class="input-field">
          <%= f.label :start_date %><br>
          <%= f.text_field :start_date, class: "datepicker"%>
        </div>

       <%= f.hidden_field :subdomain, value: current_user.subdomain %>

        <p class="center"><%= f.submit t("devise.invitations.new.submit_button"), class: " btn btn-success btn-lg" %></p>
      <% end %>
  
    </div>
  </div>

<script>
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
        
</script>
