<%= form_for @eadmin_task,  html: { multipart: true } do |f| %>
  <% if @eadmin_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eadmin_task.errors.count, "error") %> prohibited this eadmin_task from being saved:</h2>

      <ul>
      <% @eadmin_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- BASIC FORM ELELEMNTS -->
         
          
                <div class="form-panel">
                     <div class="input-field">
                      <%= f.label :category  %><br><br>


                                <%= f.radio_button :category, "Learning" %> <%= f.label :category, "Learning",value: "Learning" %>
                                <%= f.radio_button :category, "Setting Up" %> <%= f.label :category, "Setting Up" ,value: "Setting Up"%>
                                 <%= f.radio_button :category, "Milestones" %> <%= f.label :category, "Milestones",value: "Milestones" %>
                                 <%= f.radio_button :category, "Personal Survey" %> <%= f.label :category, "Personal Details", value: "Personal Survey" %>

                                
                              </div><br>

                          
                        <div class="input-field">
                              <%= f.label :title  %><br>
                              <%= f.text_field :title %>
                        </div>

                        <div class="input-field">
                              <%= f.label :description %><br>
                              <%= f.text_area :description, class: "materialize-textarea" %>
                        </div>

                        
                          <div class="input-field">
                              <%= f.label :document %>
                              <%= f.file_field :document, class: "form-control" %>
                            </div>

                       
                            
                        <div class="input-field">
                              <%= f.label :media %>

                              <%= f.text_area :media, class: "materialize-textarea" %>
                        </div>

                         

                         <div class="row">
        <div class="input-field col s6">
          
          <label for="Days">Days</label>
          <%= f.number_field :due_date, :placeholder => "How Many Days"  %></p>
        </div>
        <div class="input-field col s6">
          <label for="when">When</label><br>

          <p> <%= f.radio_button :when_due, "Before" %> <%= f.label :when_due, "Before Start Date",value: "Before" %>
                                <%= f.radio_button :when_due, "After" %> <%= f.label :when_due, " After Start Date" ,value: "After"%> </p>
        </div>
      </div>



<%= f.hidden_field :user_id, value: params[:user_id]%> 
                          

  <div class="actions ">
                             
                                <input type="submit" value="Update" class="btn btn-success btn-lg" >
                                <%= link_to 'Cancel', url_for(:back), class: "btn btn-primary btn-lg" %>




                              
                              </div>
                             

                            


                    



        

        <% end %>