
    <div class="row">
                <div class="col s12">

                   <% completed = current_user.eadmin_tasks.where("completed = ?", 1).count.to_i%>
        <% not_completed = current_user.eadmin_tasks.count.to_i%>


          <% total =  (completed.to_f / not_completed ) * 100 %>

        


                  <h3 class="center"> My Onboarding  </h3><br>
                  <h4 class="center">Hi, <%=current_user.name %></h4>

                  <h5 class="center">Progress</h5>
                  <h5 class="center"><%= total.round(0) %>%</h6>
                    <div class="progress center">
                          <div class="determinate" style="width: <%= total.round(0) %>%"></div>
                      </div>
       
                </div>
               <div class="col s12">
                    <ul class="tabs" id="tabs">
                      <li class="tab col s3" ><a class="active" href="#tabs-1">Learning</a></li>
                      <li class="tab col s3"><a  href="#tabs-2">Setting Up</a></li>
                      <li class="tab col s3"><a href="#tabs-3">Milestones</a></li>
                      <li class="tab col s3"><a href="#tabs-4">Personal Details</a></li>
                    </ul>
                  </div>



                   <div class="items">
                    <div id="tabs-1" data-tab-index="0">



                      <div class="col s6 left"> 
                        
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Learning" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p >
                                                <strike style="opacity: 0.4;"> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              
                                            <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>


                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank

</i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>

                                        
                                        
   
                                                    
                                           <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>

                                      <strong> Due Date:</strong> 
                                      <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date3 = (d - when_due).to_s %>
                                      <%= Date.parse(due_date3).strftime("%e, %B, %Y")%>
                                     
                                   
                                     </p>
      




                                </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date ASC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Learning" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                               <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                             <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                    <strong> Due Date:</strong> 
                                      <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date4 =( d + when_due).to_s %>
                                      <%= Date.parse(due_date4).strftime("%e, %B, %Y")%>
                                     </p>




                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>




                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-2" data-tab-index="1">

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Setting Up" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                               <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Description: </strong><%= eadmin_task.description %><br><br>
                                     <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                      <strong> Due Date:</strong> 
                                       <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date5 =(d-when_due).to_s %>
                                      <%= Date.parse(due_date5).strftime("%e, %B, %Y")%>
                                     </p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date ASC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Setting Up" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                          <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                     <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                      <strong> Due Date:</strong> 
                                     <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date6 =(d+when_due).to_s %>
                                      <%= Date.parse(due_date6).strftime("%e, %B, %Y")%>
                                     </p>
                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>





                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-3" data-tab-index="2" >

                      <div class="col s6 left"> 
                  <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">Before You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Milestones" && eadmin_task.when_due == "Before" %>

                              <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                               <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>

                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Description: </strong><%= eadmin_task.description %><br><br>d
                                      
                                        <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                     <strong> Due Date:</strong> 
                                     <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date7 =(d-when_due).to_s %>
                                      <%= Date.parse(due_date7).strftime("%e, %B, %Y")%>
                                     </p>
                              </li>
             <% end %>
           <% end %>
           </ul>

          </div>



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date ASC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Milestones" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                              <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>
                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                            <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>

                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                        <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                      <strong> Due Date:</strong> 
                                         <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date8 =(d + when_due).to_s %>
                                      <%= Date.parse(due_date8).strftime("%e, %B, %Y")%>
                                     </p>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>


                      
                    </div><!-- END -->

                    <div class="items">
                    <div id="tabs-4" data-tab-index="3" >

          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date ASC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Personal Survey" && eadmin_task.when_due == "Before" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                             <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>
                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                           <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>
                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                      <strong> Due Date:</strong> 
                                     <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date9 =(d+when_due).to_s %>
                                      <%= Date.parse(due_date9).strftime("%e, %B, %Y")%>

                                     </p>

                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>

       



          <div class="col s6 left">

                  
                 <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
                          <h5 class="center">After You Start</h5>
                         <% @eadmin_tasks.order( 'eadmin_tasks.due_date ASC' ).each do |eadmin_task| %>

                         <% if eadmin_task.category == "Personal Survey" && eadmin_task.when_due == "After" %>

                               <li>

                                <% if eadmin_task.completed? %> 
                                                  

                                        <div class="collapsible-header">
                                          <p style="opacity: 0.4;">
                                                <strike> 

                                                  <%= eadmin_task.title %> 

                                                </strike>

                                          

                                             <%= link_to '  <i style="font-size: 2rem; color: #00e676" class=" large material-icons icon-demo secondary-content right">check_box
</i>'.html_safe, not_complete_eadmin_task_path(eadmin_task), method: :patch %>
                                          </p>
                                        </div>

                                 <% else %>

                                    <div class="collapsible-header">
                                      <p>
                                         <strong> 

                                          <%= eadmin_task.title %> 

                                        </strong>

                                           <%= link_to '  <i style="font-size: 2rem; color: #757575" class=" large material-icons icon-demo secondary-content right">check_box_outline_blank </i>'.html_safe, complete_eadmin_task_path(eadmin_task), method: :patch %>
                                                    
                                            

                                      </p>
                                    </div>


                                        <% end %>
                                    <div class="collapsible-body">

                                      <p><strong> Descrption: </strong><%= eadmin_task.description %><br><br>
                                      <% if !eadmin_task.media.blank? %>
                                      <strong> Media: </strong><a href="<%= eadmin_task.media %>" target="_blank" > <%= eadmin_task.media.first(55) %> </a> <br> <br>
                                      <% end %>
                                      <strong> Due Date:</strong> 
                                     <% when_due = eadmin_task.due_date.to_i %>
                                       <% d = current_user.start_date %> 
                                       <% due_date9 =(d+when_due).to_s %>
                                      <%= Date.parse(due_date9).strftime("%e, %B, %Y")%>

                                     </p>

                                      </div>
                              </li>
             <% end %>
           <% end %>
           </ul>
          </div>




</div>


                      
                  </div><!-- END -->


