<!-- Wrapper for sidebar and layout -->

<div class="row">
  <!-- Sidebar -->
  <div class="col s12 m4 l3">
    <!-- Profile card -->
    <div class="card top">
      <div class="card-content">
        <span class="card-title"><%= current_user.name %></span>
        <p>Welcome to the company! We're so excited to have you. <i>One Rocket</i> makes sure you have everything you need to succeed.</p>
      </div>
    </div>

    <div class="collection">
      <%= link_to @paperwork_link.html_safe, params.merge(:category => "Paperwork"), class: "collection-item"%>
      <%= link_to @eat_link.html_safe, params.merge(:category => "Equipment & Tools"), class: "collection-item"%>
      <%= link_to @mtc_link.html_safe, params.merge(:category => "Meet the Company"), class: "collection-item"%>
      <%= link_to @getgoing_link.html_safe, params.merge(:category => "Get Going"), class: "collection-item"%>
    </div>

  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="col s12 m7 l8">
    <div class="row top">
      <% if params[:category] %>
        <h4 style="display: inline"><%=params[:category]%> Tasks</h4>
      <% else %>
        <h4 style="display: inline">Paperwork Tasks</h4>
      <% end %>
    </div>


    <% if @eadmin_tasks.empty? %>
    <div class="row centered">
      <div class="col s12 m6">
        <div class="card-panel teal">
          <span class="white-text">
            <i class="em em-sweat_smile"></i> Nothing to be done here! Check out other categories to make sure you aren't missing anything.
          </span>
        </div>
      </div>
    </div>
    <% end %>





    <% unless @eadmin_tasks.where(:when_due => "Before").where(:completed => 0).empty? %>
      <h5>Before you start...</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.when_due == "Before" && eadmin_task.completed? == false %>
        <!-- Card -->
        <div class="card hoverable">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if eadmin_task.document_file_name %>
              <p><%= link_to eadmin_task.document_file_name, eadmin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- Runs a completed? method in the eadmin_task model to check the tasks complete status against a 1 or 0 -->
            <% unless eadmin_task.completed? %>
              <!-- Link to Mark Complete and Done: calls a patch method to the eadmin_tasks controller -->
              <%= link_to 'mark as complete', complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% else %>
              <%= link_to 'mark as uncompleted', not_complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% end %>
            <% when_due = eadmin_task.due_date.to_i %>
            <% d = current_user.start_date %>
            <% due_date3 = (d - when_due).to_s %>
            <span class="right"><%= Date.parse(due_date3).strftime("%e, %B, %Y")%></span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>





    <% unless @eadmin_tasks.where(:when_due => "After").where(:completed => 0).empty? %>
      <h5>After you start...</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.when_due == "After" && eadmin_task.completed? == false %>
        <!-- Card -->
        <div class="card hoverable grey lighten-2">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal grey lighten-2">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if eadmin_task.document_file_name %>
              <p><%= link_to eadmin_task.document_file_name, eadmin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- Runs a completed? method in the eadmin_task model to check the tasks complete status against a 1 or 0 -->
            <% unless eadmin_task.completed? %>
            <!-- Link to Mark Complete and Done: calls a patch method to the eadmin_tasks controller -->
              <%= link_to 'mark as complete', complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% else %>
              <%= link_to 'mark as uncompleted', not_complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% end %>
            <% when_due = eadmin_task.due_date.to_i %>
            <% d = current_user.start_date %>
            <% due_date3 = (d - when_due).to_s %>
            <span class="right"><%= Date.parse(due_date3).strftime("%e, %B, %Y")%></span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>




    <% unless @eadmin_tasks.where(:completed => 1).empty? %>
      <h5>Recently Completed</h5>
    <% end %>

    <% @eadmin_tasks.order( 'eadmin_tasks.due_date DESC' ).each do |eadmin_task| %>
      <% if eadmin_task.completed? %>
        <!-- Card -->
        <div class="card hoverable #b2dfdb teal lighten-4">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">more_vert</i></span>
            <p><%= truncate(eadmin_task.description, length: 140, separator: ' ') %></p>
          </div>
          <div class="card-reveal #b2dfdb teal lighten-4">
            <span class="card-title grey-text text-darken-4"><%= eadmin_task.title %><i class="material-icons right">close</i></span>
            <p><%= eadmin_task.description %></p>
            <% if eadmin_task.document_file_name %>
              <p><%= link_to eadmin_task.document_file_name, eadmin_task.document.url(:original, false), :target => "_blank" %></p>
            <% end %>
          </div>
          <div class="card-action">
            <!-- Runs a completed? method in the eadmin_task model to check the tasks complete status against a 1 or 0 -->
            <% unless eadmin_task.completed? %>
            <!-- Link to Mark Complete and Done: calls a patch method to the eadmin_tasks controller -->
              <%= link_to 'mark as complete', complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% else %>
              <%= link_to 'mark as uncompleted', not_complete_eadmin_task_path(eadmin_task), class: "blue-text", method: :patch %>
            <% end %>
            <% when_due = eadmin_task.due_date.to_i %>
            <% d = current_user.start_date %>
            <% due_date3 = (d - when_due).to_s %>
            <span class="right"><%= Date.parse(due_date3).strftime("%e, %B, %Y")%></span>
          </div>
        </div>
        <!-- End card -->
      <%end%>
    <%end%>



  </div>
  <!-- End content -->
</div>
