<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @eadmin_task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eadmin_task.description %>
</p>

<p>
  <strong>Media:</strong>
  <%= @eadmin_task.media %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @eadmin_task.due_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @eadmin_task.category %>
</p>

<p>
  <strong>When due:</strong>
  <%= @eadmin_task.when_due %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @eadmin_task.completed %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @eadmin_task.completed_at %>
</p>

<%= link_to 'Edit', edit_eadmin_task_path(@eadmin_task) %> |
<%= link_to 'Back', eadmin_tasks_path %>
