<nav>
  <div class="nav-wrapper">
    <%# Side nav for Admin %>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
      <%# DESKTOP  %>
      <ul id="slide-out" class="side-nav fixed">
        <img  src="/assets/site-logo.png" class="center-align responsive-img" style="margin-top:3%" alt="logo"></a>
         <li class="no-padding">
          <ul class="collapsible collapsible-expandable">
           <% if can? :delete, @post %>
              <li ><%= link_to "Our People", users_path %></li>

              <li>
                <a class="bold collapsible-header"><strong>Teams</strong></a>
                <div class="collapsible-body" style="display: block;">
                  <ul>

                    <li  ><%= link_to "Tasks for Everyone", admin_path %></li>
                    <% @teams.where.not(name: 'Everyone').each do |t| %>
                    <li class=""><%= link_to "#{t.name} Team", admin_path(:team => t.name) %></li>
                    <% end %>
                    <li class=""  ><%= link_to "Manage Teams", teams_path %></li>
                  </ul>
                </div>
              </li>

            </ul>
           </li>
           <!-- <li class"waves-effect"><a href="#!">Events</a></li> -->
           <li class="waves-effect"  ><%= link_to "Account Settings", edit_user_registration_path %></li>
          <% else %>
          <li class="" ><%= link_to "My Onboarding Steps ", eadmin_tasks_path %></li>

        <% end %>

        <li class=" "   ><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>



    <%# END SIDE NAV %>

  </div>
</nav>
