
  <nav>
    <div class="nav-wrapper">
          <div class="navbar-header">
      
      <%= link_to "One Rocket", root_path, class: "navbar-brand" %>
    </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to "Home", root_path %></li>
            <li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to('Login', new_user_session_path) %></li>
      </ul>
    </div>
  </nav>
