<nav>
  <div  class="nav-wrapper" style=" ">
  <% if can? :delete, @post %>
    <%# Side nav for Admin %>
<<<<<<< HEAD
    <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class=" <%= active_class(users_path) %>"><%= link_to "Our People", users_path %></li>
          <li class=" <%= active_class(edit_user_registration_path) %>"  ><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li class=" "   ><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
=======
    <% if can? :delete, @post %>
      <%# DESKTOP and MOBILE %>
      <ul id="slide-out" class="side-nav">
        <img  src="/assets/site-logo.png" class="center-align responsive-img" style="margin-top:3%" alt="logo"></a>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Teams &amp; Tasks</a>
              <div class="collapsible-body">
                <ul>
                  <li class="<%= 'active' if current_page?(teams_path) %>"  ><%= link_to "Teams", teams_path %></li>
                  <li class="<%= 'active' if current_page?(admin_path) %>"  ><%= link_to "Tasks for Everybody", admin_path %></li>
                  <% @teams.each do |t| %>
                  <li><%= link_to "#{t.name} Tasks", admin_path(:team => t.name) %></li>
                  <% end %>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="<%= 'active' if current_page?(events_path) %>"><%= link_to "Events", events_path %></li>
        <%# MOBILE ONLY %>
        <div class="hide-on-large-only">
          <li class="<%= 'active' if current_page?(users_path) %>"  ><%= link_to "Our People", users_path %></li>
          <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"  ><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"   ><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </div>
>>>>>>> events-feature
      </ul>

    <a  href="#" data-activates="slide-out" class="button-collapse show-on-small" ><i class="material-icons">menu</i></a>
      <%# DESKTOP  %>
      <ul id="slide-out" class="side-nav fixed #ffffff white">
        <img  src="/assets/site-logo.png" class="center-align responsive-img" style="padding:6%; margin-top:5%;" alt="logo"></a>
         <li class="no-padding">


            <ul class="collapsible collapsible-expandable ">
              <li class="">
                <a  class="bold collapsible-header active " id="#team"><span style="font-weight:900;">Teams</span></a>
                <div class="collapsible-body">
                  <ul class="team-d">
                    <li class=" text-darken-2 <%= 'active' if params[:team] == 'Everyone' %>"  ><%= link_to "Everyone", admin_path %></li>
                    <% @teams.where.not(name: 'Everyone').each do |t| %>
                      <li  id="demo" class="<%= 'active' if params[:team] == t.name %> "><%= link_to "#{t.name}", admin_path(:team => t.name) %></li>
                    <% end %>

                  </ul>
                </div>
              </li>
              <li style = "height:80px;" class="<%= active_class(teams_path) %>"  ><%= link_to '<span style="font-weight:900; margin-top:10px; ">Manage Teams</span>'.html_safe, teams_path,:style=>'line-height:40px; height:80px;'%></li>

            </ul>
           </li>
           <!-- <li class"waves-effect"><a href="#!">Events</a></li> -->

          <% else %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class=" <%= active_class(eadmin_tasks_path) %>" ><%= link_to "My Onboarding Steps ", eadmin_tasks_path %></li>
              <li class=" "   ><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>


        <% end %>


      </ul>



    <%# END SIDE NAV %>

  </div>
</nav>
