

   <nav>
    <div class="nav-wrapper">
       


      

        <% if can? :delete, @post %>

        <%= link_to "One Rocket", root_path, class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li class="<%= 'active' if current_page?(admin_path) %>"  ><%= link_to "Onboarding Process", admin_path %>
         </li>

        

         <li class="<%= 'active' if current_page?(people_path) %>"  ><%= link_to "Our People", users_path %>
         </li>
      
         <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"  ><%= link_to "Account Settings", edit_user_registration_path %>
         </li>

          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"   ><%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
          
        <% else %>



            <%= link_to "One Rocket", employee_tasks_path, class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">

          <li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to "My Onboarding Steps ", employee_tasks_path %></li>

        
           


          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"   ><%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>


    </ul>
      <ul class="side-nav" id="mobile-demo">
            <% if can? :delete, @post %>

        <li class="<%= 'active' if current_page?(admin_path) %>"  ><%= link_to "Onboarding Process", admin_path %>
         </li>

        

         <li class="<%= 'active' if current_page?(people_path) %>"  ><%= link_to "Our People", people_path %>
         </li>
      
         <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"  ><%= link_to "Account Settings", edit_user_registration_path %>
         </li>

          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"   ><%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
          
        <% else %>
          <li class="<%= 'active' if current_page?(root_path) %>" ><%= link_to "My Onboarding Steps ", employee_tasks_path %></li>
          

         

          <li class="<%= 'active' if current_page?(destroy_user_session_path) %>"   ><%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
          
        

