<!DOCTYPE html>
<html>
<head>
  <title>One Rocket - Simple Employee Onboarding</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= favicon_link_tag 'favicon-32x32.png' %>

  <!-- Compiled and minified CSS -->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <style>
    html {
      font-family: "Open Sans", "Roboto", sans-serif;
    }
    h5, .top {
      margin-top: 10%;
      margin-bottom: 5%;
    }
    .centered {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/headersignin' %>
    <% end %>

    <% flash.each do |key, value| %>
      <script>
        Materialize.toast("<%= value %>", 3000);
      </script>
    <% end %>

  </header>

  <main>
    <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <%= yield %>
    </div>
  </main>



</body>

<!-- Modal -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2016 One Rocket
    </div>
  </div>
</footer>

<!-- All the javascripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
    $('select').material_select();
  })
</script>

</html>
