<!DOCTYPE html>
<html>
<head>
  <title>OnerocketMulti</title>
 

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header>
		<% flash.each do |key, value| %>
                <script>
                     Materialize.toast("<%= value %>", 3000);
                </script>


               
              <% end %>
	</header>
	       
	

<%= yield %>


</body>
</html>
